{% extends "base.html" %}
{% block body %}
<h1 class="text-4xl text-purple-600 font-bold my-5 text-center">TASKS</h1>

<div class="w-11/12 mx-auto">
    <div class="overflow-x-auto">
        <table class="table">
          <!-- head -->
          <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Description</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <!-- row 2 -->
            {% for task in data %}
            <tr class="hover:bg-base-300">
                <th>{{task.id}}</th>
                <td>{{task.title}}</td>
                <td>{{task.description}}</td>
                <td>
                    {% if task.status %}
                        <span class="text-green-600 font-bold">Complete</span>
                    {% else %}
                        <span class="text-red-600 font-bold">Incomplete</span>
                    {% endif %}
                </td>
                <td><a class="btn btn-error text-xs text-white" href="{% url 'delete_task' pk=task.id %}">Delete</a> <a class="btn btn-info text-xs text-white" href="{% url 'update_task' pk=task.id %}">Edit</a> <a class="btn btn-success text-xs text-white" href="#">Complete</a> </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>

{% endblock %}